.helpdesk-forms
{
    padding-top: 50px;
    padding-bottom: 50px;
    width: 100%;
    img
    {
        display: block;
        width: 100%;
    }
    form
    {
        padding-top: 20px;
        .form-group
        {
            padding: 0;
            [class^="col-lg-"]
            {
                min-height: auto;
            }
            label
            {
                font-size: 18px;
                margin-bottom: 10px;
            }
            h2
            {
              font-size: 20px;
              color: #009E3F;
              font-weight: bold;
            }
            input.form-control,
            select,
            textarea
            {
                background-color: #FAFCFE;
                color: #4A4A68;
                font-size: 16px;
                height: 46px;
                margin-bottom: 25px;
                padding: 8px 15px;
                border: 1px solid #ECEFF4;
                border-radius: 5px;
                box-shadow: inset 0px 2px 2px -1px rgba(74, 74, 104, .1);
            }
            &.row
            {
                width: 100%;
                justify-content: center
            }
        }
        .btn[type="submit"]
        {
            background: #1BAF5D;
            font-size: 16px;
            padding: 10px 30px;
            border-radius: 5px;
            box-shadow: none;
            text-align: center;
            position: absolute;
            right: 20px;
        }
    }
}
.ticket-status
{
    padding-top: 50px;
    padding-bottom: 30px;
    .banner
    {
        width: 50%;
        margin: auto;
    }
    .item
    {
        background: #fff;
        padding: 25px;
        margin-bottom: 30px;
        border-radius: 25px;
        box-shadow: 0 4px 24px rgba(0, 0, 0, .07);
        .row
        {
            align-items: center;
            margin-bottom: 20px;
            &:last-of-type
            {
                margin-bottom: 0
            }
        }
        h6
        {
            color: #A5A5A5;
            font-size: 18px;
            margin-bottom: 0;
            display: flex;
            align-items: center;
            i
            {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                background: #008D3C;
                color: #fff;
                font-size: 24px;
                margin-right: 15px;
                border-radius: 50%;
                box-shadow: 0 4px 24px rgba(0, 141, 60, .15);
            }
        }
        h5
        {
            font-size: 20px;
            font-weight: bold;
            color: #1F1E1E;
            margin-bottom: 0
        }
        p
        {
            display: inline-block;
            color: #1F1E1E;
            font-size: 18px;
            margin-bottom: 0;
            border-radius: 50px;
            &[value="جديد"]
            {
                background: #14263D;
                color: #fff;
                padding: 2px 20px 4px;
            }
            &[value="تم حلها"]
            {
                background: #606161;
                color: #fff;
                padding: 2px 20px 4px;
            }
            &[value="قيد التنفيذ"]
            {
                background: #66BC46;
                color: #fff;
                padding: 2px 20px 4px;
            }
        }
    }
}
#wrapwrap .oe_website_sale
{
    #right-column
    {
        flex: 0 0 100%;
        max-width: 100%;
        #submit-ticket
        {
            button
            {
                width: auto;
            }
        }
    }
}