.invoice-container {
    direction: ltr !important;
}

.invoice-header {
    text-align: center;
    margin-right: 1cm;
    font-weight: bolder;
    font-size: 20px;
}

.invoice-details, .items-table, .total-table {
    width: 100%;
    direction: ltr !important;
    border: 1px solid black;
    padding: 2px;
    margin-top: 1.9cm;
    margin-bottom: 0.6cm;
    table-layout: fixed;
}

.invoice-details td, .items-table td, .total-table td {
    padding: 1px;
    vertical-align: top;
    border: 1px solid black;
}

.customer-details {
    text-align: center;
    font-family: 'Cairo';
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    direction: rtl !important;
    padding: 5px;
}

.invoice-title {
    font-family: 'Cairo';
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    direction: rtl !important;
    padding: 5px;
}

.table-header {
    text-align: center;
    padding: 1px;
}

.item-row {
    border-bottom: 3px solid black !important;
    direction: ltr !important;
}

.total-row {
    border-bottom: 3px solid black !important;
    direction: ltr !important;
    text-align: center;
}

.amount-in-words {
    direction: ltr;
    text-align: center;
}

.amount-in-words h4 {
    border-top: 1px solid #ccc;
    border-bottom: 4px double #ccc;
}

.footer-section {
    position: fixed;
    top: 22.5cm;
    width: 95%;
    text-align: center;
}

.qr-code {
    border: 1px solid black;
    padding: 2px;
    float: left;
    direction: ltr !important;
    text-align: center;
    font-weight: bolder;
}

.bank-details {
    float: right;
    width: 70%;
    border-collapse: collapse;
    direction: ltr !important;
    text-align: center;
}

.bank-details th, .bank-details td {
    border: 1px solid black;
    padding: 10px;
    text-align: center;
    padding-left: 10px;
}

.footer {
    direction: ltr !important;
    text-align: center;
}

.footer-left, .footer-right {
    float: left;
    width: 340px;
    height: 100px;
    margin-bottom: 40px;
    direction: ltr !important;
}

.footer-right {
    float: right;
    width: 320px;
}
